@font-face {
    font-family: 'hussar_gothicobl';
    src: url('hussargothicoblique-lvyw-webfont.woff2') format('woff2'),
    url('hussargothicoblique-lvyw-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.header {
    background: white;
    display: inline-block;
}

.link {
    position: absolute;
    right: 10px;
    text-align: right;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    font-size: x-large;
    width: 100%;
}

.link a {
    color: white;
    text-decoration: none;
}

.link a:hover {
    font-weight: bolder;
}

body {
    font-family: 'hussar_gothicobl', serif;
    text-align: center;
    background-color: #a50521;
    margin-left: 0;
    margin-right: 0;
    color: white;
    padding-bottom: 100px;
}


img.title {
    top: 0;
    height: 35vw;
    margin-bottom: 9vh;
}

.top {
    background-color: #a50521;
    position: relative;
    padding: 8px 8px 32px 8px;
}

.top:after {
    background: linear-gradient(-45deg, #ff032e 16px, transparent 0), linear-gradient(45deg, #ff032e 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.middle {
    position: relative;
    padding: 8px 8px 32px 8px;
    background-color:  #ff032e;
}

.middle:after {
    background: linear-gradient(-45deg, #a50521 16px, transparent 0), linear-gradient(45deg, #a50521 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
}


.bottom {
    max-height: 100px;
    background: #a50521;
}

.wrapper {
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.marquee p {
    font-size: x-large;
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}


#footer {
    border-top: solid;
    border-top-color: #56000f;
    background-color: #ff4363;
    position: fixed;
    bottom: 0;
}

.footer_link {
    margin-top: 30px;
    height: 5vh;
    margin-left: 10px;
}

#clock {
    position: absolute;
    left: 10px;
    text-align: left;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: x-large;
    width: 100%;
}

#videos {
    max-height: 1200px;
    width: 80vw;
    background-color: #ff4363;
    height: 80vh;
    margin-bottom: 8vh;
    overflow-y: auto;
    display: inline-block;
}

#videos_wrapper {
    text-align: center;
}

#videos img {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
}

a:hover {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

#videos::-webkit-scrollbar-track {
    background: #ff4363;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#eye_candy p{
    line-height: 2px;
    font-size: 3em;
}

#trailer {
    width: 50vw;
    height: 50vh;
}

.video {
    display: inline-block;
    background-color: #56000f;
    min-width: 560px;
    min-height: 315px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.youtube-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.youtube-video-container {
    padding-top: 56.25%;
    height: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.youtube-video-container-container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.soon {
    font-size: 4em;
}

.about {
    line-height: 2em;
    font-size: xx-large;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.gallery_video {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 2.5vw;
    position: relative;
    line-height: normal;
    font-size: 4vmax;
}

.articles_wrapper {
    max-height: 1200px;
    width: 80vw;
    background-color: #ff4363;
    height: 80vh;
    margin-bottom: 8vh;
    overflow-y: auto;
    display: inline-block;
}

.article{
    display: inline-block;
    position: relative;
    background: #a50521;
    text-align: center;
    margin: 30px;
    border: 1px solid #56000f;
    width: 230px;
    height: 400px;
}

.article:hover {
    border: 1px solid white;
}

.article_thumbnail {
    margin: 5px;
    width: 100px;
    height: auto;
}

.article_description {
    position: absolute;
    bottom: 0;
    padding: 15px;
    text-align: center;
}

#dib-posts {
    font-family: "Times New Roman";
}