:root {
  --bgColor: #ffe3e4;
  --navTextColor: #d30707;
  --paragraphText: #7a020d;
  --palePink: #fbe6e7;
  --salmonColor: #ea3b3b;
  --lighterPink: #fdbabd;
  --content-width: 500px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--navTextColor);
  text-decoration: none;
}

a:hover {
  color: var(--paragraphText);
}


body {
  background-color: var(--bgColor);
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--paragraphText);
  background-color: var(--bgColor);
}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.videoContainer {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.videoTitle {
  color: var(--paragraphText);
}

.sweettalk_thumb {
  margin: 0;
  max-width: var(--content-width);
  height: auto;
}

.sweetTalkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sweetTalkArticle {
  width: 90%;
  max-width: var(--content-width);
  text-align: left;
}

.sweetTalkImage {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.shop-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-link {
  background-color: var(--lighterPink);
  color: var(--navTextColor);
  display: inline-block;
  margin: 20px;
  text-align: left;
  line-height: 0;
  width: var(--content-width);
}

.card-link:hover {
  color: var(--paragraphText);
}

.card-link-text {
  padding-left: 10px;
}

.card-link-image {
  width: inherit;
  height: auto;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.card-link-image:hover {
  opacity: 0.5;
}

.card-link-image img {
  width: 100%;
  height: 100%;
}


.product {
  text-align: left;
  line-height: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 20vw;
  background-color: var(--fgColor);
}


 

/*cart header at top left and close button top right*/
.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* cart that appears when you click on the cart icon and is stuck to right of screen.*/
.cart {
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-left: 20px;
  text-align: left;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--content-width);
  max-width: 100%;
  border-left: var(--navTextColor) 1px solid;
  background-color: var(--salmonColor);
  color: var(--paragraphText);
}

.cart button {
  background-color: var(--lighterPink);
  color: var(--paragraphText);
  border: none;
  padding: 5px;
  margin: 5px;
}

.cart button:hover {
  background-color: var(--lighterPink);
  color: var(--salmonColor);
}

.cart-quantity button {
  background-color: var(--navTextColor);
  color: var(--paragraphText);
  border: none;
  padding: 5px;
  margin: 5px;
}

.cart .cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--navTextColor);
}

div.checkout-link {
  align-self: flex-end;
}

.checkout-link button {
  background-color: var(--lighterPink);
  color: var(--paragraphText);
  border: none;
  padding: 5px;
  margin: 5px;
}

.sweetTalkFooter {
  font-style: italic;
}

/*Login and signup forms with underlines for inputs.
Left aligned*/
.min-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.min-form input {
  width: 100%;
  max-width: var(--content-width);
  margin-bottom: 10px;
}

.min-form button {
  width: 100%;
  margin-bottom: 20px;
}

.min-form input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {
  border: none;
  border-bottom: 1px solid var(--navTextColor);
  background-color: transparent;
  color: var(--paragraphText);
}

.min-form input[type="text"]:focus, input[type="password"], input[type="email"], input[type="tel"], input[type="number"]:focus {
  outline: none;
}

.min-form input[type="submit"] {
  background-color: var(--navTextColor);
  color: var(--paragraphText);
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.min-form textarea {
  border: 1px solid var(--navTextColor);
  background-color: transparent;
  color: var(--paragraphText);
  width: 100%;
  max-width: var(--content-width);
  height: 100px;
  margin-bottom: 10px;
}

.min-form input[type="submit"]:hover {
  background-color: var(--paragraphText);
}

.min-form input[type="submit"]:active {
  background-color: var(--paragraphText );
}

.min-form input[type="submit"]:focus {
  outline: none;
}

.min-form input[type="submit"]:disabled {
  background-color: var(--palePink);
  color: var(--paragraphText);
}

.min-form input[type="submit"]:disabled:focus {
  outline: none;
}


/*leave background transparent when auto completing forms*/
.min-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--bgColor) inset;
  -webkit-text-fill-color: var(--paragraphText);
}

button {
  background-color: var(--navTextColor);
  color: var(--paragraphText);
  border: none;
  padding: 10px;
  margin-top: 10px;
}

button:hover {
  background-color: var(--salmonColor);
  cursor: pointer;
}

/*dashboard for displaying user information */
.dashboard {
  border: var(--navTextColor) 1px solid;
  width: 100%;
  padding: 10px;
}

/*container for sign up errors*/
.errors {
  line-height: 0;
  color: var(--navTextColor);
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--content-width);
  border: 1px solid var(--navTextColor);
  margin-bottom: 10px;
  padding: 10px;
}


/*on theme dropdown with slightly larger text and no focus borders*/
select {
  background-color: var(--fgColorLighter);
  color: var(--textColor);
  font-size: 1.2em;
  border: none;
  outline: none;
}

select:focus {
  border: none;
  outline: none;
}

/*horizontally aligned radio buttons*/
.product-image-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

/*fix image size within fixed size without stretching images*/
.product-image-carousel-selected {
  width: var(--content-width);
  height: auto;
  max-height: var(--content-width);
  object-fit: contain;
}
.product-image-carousel-selected img {
  width: 100%;
  height: 100%;
  max-height: var(--content-width);
  resize: contain;
  object-fit: fill;
}

.product-image-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



textarea:focus {
  outline: none;
}

.size-select-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--fgColor);
}

.size-select-checkbox input {
  width: 20px;
  height: 20px;
}

.size-select-checkbox label {
  width: 100%;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
  width: 100%;
}

/*Contain uploaded images within form*/
.uploaded-product-images {
  border: 1px solid var(--fgColor);
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;  
  height: 100%;
}

/*fix image size within fixed size without stretching images*/
.uploaded-product-images img{
  width: 40%;
  height: auto;
  margin: 10px;
}

.product-images img{
  width: 100%;
  height: auto;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;

}

form input {
  font-size: 1.2em;
}

.existing-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-banner {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header-banner img {
  width: 100%;
  height: auto;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.header-links .current a {
  color: var(--navTextColor);
  background-color: var(--palePink);
}



header {
  margin-top: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--navTextColor);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--palePink);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--palePink);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--lighterPink);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.home-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-logo img {
  width: 100%;
  height: auto;
  max-width: 200px;
}



/*block of tabs for admin page*/
.admin-tabs {
  text-align: left;
  margin: 0;
  margin-left: 20px;
  padding: 20px;
  border: var(--fgColor) 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.admin-tabs p {
  margin: 0;
  padding: 0;
} 

.admin-tabs p:hover {
  cursor: pointer;
}



.existing-products table {
  border-collapse: collapse;
  width: 100%;
 
}

.existing-products tr {
  border: 1px solid var(--navTextColor);
}


.existing-products th {
  border-bottom: 3px solid var(--navTextColor);
  padding: 10px;
}

.existing-products td {
  padding: 10px;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: var(--content-width);
  gap: 10px;
}

.checkout-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.checkout-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--navTextColor);
}

#price {
  display: flex;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.order {
  border: var(--fgColor);
  border-style: solid;
  border-width: 1px;
  text-align: left;
  width: 100%;
  max-width: var(--content-width);
  margin-bottom: 10px;
  padding: 10px; 
}

.content-area button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  color: var(--bgColor);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.order-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--navTextColor);
}

.content-area {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 90%;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

form label {
  font-size: 1.4em;
  font-weight: bold; 
}

.label-smaller {
  font-size: 1.2em; 
}

.home-content {
  width: 90%;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  margin-bottom: 50px;
}