:root {
  --bgColor: #a50521;
  --fgColor: #ff032e;
  --fgColorLighter: #ff4363;
  --textColor: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  flex: 0 0 100%;
  background-color: red;
  flex-direction: row;
  height: 40px;
}

.headerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  flex: 1;
}

a {
  color: var(--fgColor);
  text-decoration: none;
}

a:hover {
  color: var(--fgColorLighter);
}

.headerLinks Link {
	flex: 1;
}

.headerLinks a {
	margin-left: auto;
	margin-right: auto;
}

.headerTitle{
  flex: 1;
}

body {
  background-color: var(--bgColor);
  width: 100%;
  height: 100%;
}



main {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--textColor);
  background-color: var(--bgColor);
}





div.sep {
		min-height: 200px;
		padding: 32px 0;
    background: var(--fgColor);
	}

.zig-zag-top:before{
		background: 
					linear-gradient(-45deg, transparent 16px,  var(--fgColor) 0), 
					linear-gradient(45deg, transparent 16px, var(--fgColor) 0);
        background-position: left top;
        background-repeat: repeat-x;
        background-size: 22px 32px;
        content: " ";
        display: block;

        height: 32px;
		width: 100%;

		position: relative;
		bottom: 64px;
		left:0;
	}


.zig-zag-bottom{
		margin: 32px 0;
		margin-top: 0;
		background: var(--bgColor);
	}

.zig-zag-top{
		margin: 32px 0;
		margin-bottom: 0;
		background: var(--bgColor);
	}

.zig-zag-bottom, .zig-zag-top{
			  padding: 32px 0;
	}

.zig-zag-bottom:after{
		background: 
					linear-gradient(-45deg, var(--fgColor) 16px, transparent 0), 
					linear-gradient(45deg, var(--fgColor) 16px, transparent  0);
        background-repeat: repeat-x;
		background-position: left bottom;
        background-size: 22px 32px;
        content: "";
        display: block;

		width: 100%;
		height: 32px;

 	    position: relative;
		top:64px;
		left:0px;
	}



.auth{
  text-decoration: overline;
  color: #999;
  font-size: 2em;
}.top:after{
		background: 
					linear-gradient(-45deg, var(--fgColor) 16px, transparent 0), 
					linear-gradient(45deg, var(--fgColor) 16px, transparent  0);
        background-repeat: repeat-x;
		background-position: left bottom;
        background-size: 22px 32px;
        content: "";
        display: block;

		width: 100%;
		height: 32px;

 	    position: relative;
		top:64px;
		left:0px;
	}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.videoContainer {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.videoTitle {
  color: black;
}

.articleContainer {
  background-color: var(--fgColorLighter);
  color: white;
  border-radius: 25px;
  display: inline-block;
  margin: 20px;
}

.articleContainer:hover {
  color: var(--bgColor);
}

.sweettalk_thumb {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0;
  max-width: 400px;
  height: auto;
}

.sweetTalkQuestion {
  color: var(--fgColor)
}

.sweetTalkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sweetTalkArticle {
  width: 90%;
  max-width: 600px;
  text-align: left;
}

.sweetTalkImage {
  width: 100%;
  max-width: 600px;
  height: auto;
}